html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
a:focus {
	outline: none;
}

/* MOBILE TOOLS ///////////////////////////////////// */
* {
  box-sizing: border-box;
}

:root {
  height: 100%;
  -ms-overflow-style: none;
  overflow: hidden;
  overflow: -moz-scrollbars-none; 
}

/* Chrome and Safari */
::-webkit-scrollbar {
  display: none;
}

body {
  width: 100%;
  height: 100%;
  /* Prevent address bar from disappearing on mobile. */
  position: fixed;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

#msc {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

/* Viewport Div */
.vp {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  /* This allows us to use rows properly as otherwise
  these divs will shrink down. */
  flex: none;
}

.ur {
  position: relative;
  width: var(--w);
  height: var(--h);
}

#fixed-layer {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.abs {
  position: absolute;
}

.desktop {
  display: none;
}

@media only screen and (orientation: landscape) {
  .desktop {
    display: initial;
  }

  .mobile {
    display: none;
  }
}

/* CONTENT ///////////////////////////////////// */
:root {
  color: white;
}

/* FIXED-LAYER ---------------------------------- */
#background {
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  filter: brightness(0.3);
}

@media only screen and (max-width: 600px) {
  #background {
    background-image: url("../assets/visual/images/project-team-background-small.jpg");
  }
  #statement-header {
    background-image: 
        linear-gradient(
            black,
            hsl(0, 0%, 0%, 0.6),             
            black 
        ),
        url("../assets/visual/images/project-statement-small.jpg")
    ;
  }

  #team-section-header {
    background-image: 
        linear-gradient(
            black,
            hsl(0, 0%, 0%, 0.5),             
            black 
        ),
        url("../assets/visual/images/splash-small.jpg")
    ;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1920px) {
  #background {
    background-image: url("../assets/visual/images/project-team-background-medium.jpg");
  }
  #border-left {
    background-image: url("../assets/visual/images/border-left-medium.jpg");
  }
  #border-right {
    background-image: url("../assets/visual/images/border-right-medium.jpg");
  }
  #statement-header {
    background-image: 
        linear-gradient(
            black,
            hsl(0, 0%, 0%, 0.6),             
            black 
        ),
        url("../assets/visual/images/project-statement-medium.jpg")
    ;
  }

  #team-section-header {
    background-image: 
        linear-gradient(
            black,
            hsl(0, 0%, 0%, 0.6),             
            black 
        ),
        url("../assets/visual/images/splash-medium.jpg")
    ;
  }
}
@media only screen and (min-width:1921px) {
  #background {
    background-image: url("../assets/visual/images/project-team-background-large.jpg");
  }
  #border-left {
    background-image: url("../assets/visual/images/border-left-large.jpg");
  }
  #border-right {
    background-image: url("../assets/visual/images/border-right-large.jpg");
  }
  #statement-header {
    background-image: 
        linear-gradient(
            black,
            hsl(0, 0%, 0%, 0.6),             
            black 
        ),
        url("../assets/visual/images/project-statement-large.jpg")
    ;
  }
  #team-section-header {
    background-image: 
        linear-gradient(
            black,
            hsl(0, 0%, 0%, 0.7),             
            black 
        ),
        url("../assets/visual/images/splash-large.jpg")
    ;
  }
}

/* ARROW CONTAINERS -------------------------------------------- */
.arrow-container {
  bottom: 5%;
  width: 100%;
  height: 6%;
  display: flex;
  justify-content: space-around;
  font-size: calc(var(--w)/8);
  line-height: 1;
}

.arrow:focus, .arrow:hover {
  color: red;
}

/* HEADER DIVIDERS ///////////////////////////////////////// */
.header-divider {
  background-size: cover;    
}

.header-divider h2, .header-divider h3 {
  height: 93%;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-family: "Gruppo", Arial, Helvetica, sans-serif;
  font-size: calc(var(--w)/7);

  color: hsl(100, 100%, 70%);

  text-shadow: 0px 0px calc(var(--w)/10) hsl(100, 100%, 70%);    
}

/* POSTER ---------------------------------------------------- */
#poster {
  width: 100%;
  padding: 10% 5%;
  object-position: 50% 50%;
  object-fit: contain;
}

/* HEADER ------------------------------------------------------- */
h1 {
  padding-left: 1%;
  font-family: "Gugi", sans-serif;
  font-size: calc(var(--w)/7);
}

#header ul {
  height: 57%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  text-align: right;
  padding-right: 2%;

  font-family: "Gugi", Arial, Helvetica, sans-serif;
  font-size: calc(var(--w)/16);
}

#header li:hover {
  color: hsl(260, 60%, 0%);
  background-color: white;
}

#header ul a:focus {
background-color: red;
}

.back {
  border: 1px solid white;
  position: relative;
  display: inline-block;
  width: 30%;
  height: 10%;
  margin-left: 1%;

  font-family: "Gruppo", Arial, Helvetica, sans-serif;
  font-size: calc(var(--w)/10);

  color: gray;
}

.back i {
  position: absolute;
  top: 50%;
  left: 50%;

  font-size: calc(var(--w)/13);
}

.back:hover, .back:focus {
  color: hsl(260, 100%, 70%);
  background-color: black;
}

/* PROJECT STATEMENT --------------------------------------- */
#project-statement p {
  font-family: "Comfortaa", sans-serif;
  padding: 5%;
  line-height: 1.5;
  font-size: calc(var(--w)/18.3);
}

/* PROJECT TEAM -------------------------------------------------- */
#team-section-header {
  background-size: 100%;
}

/* TEAM MEMBER PROFILE ------------------------------ */
.team-member-pic {
  width: 100%;
  height: 40%;

  object-fit: cover;
  object-position: 50% 30%;
}

.team-member-name {
  height: 10%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Gugi", Arial, Helvetica, sans-serif;
  font-size: calc(var(--w)/12);
}

.team-member-role {
  height: 10%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 5%;

  text-align: center;
  line-height: 2.5ex;

  font-family: "Gruppo", Arial, Helvetica, sans-serif;
  font-size: calc(var(--w)/8);
  font-weight: bold;

  background-color: white;
}

.team-member-description {
  height: 30%;

  padding: 10% 5%;
  box-sizing: border-box;

  text-align: center;
  line-height: 2.5ex;

  font-family: "Comfortaa", Arial, Helvetica, sans-serif;
  font-size: calc(var(--w)/20);
}

/* STEFAN ///////////////////////////////////////////////// */
#stefan {
  background-color: aqua;
  color: magenta;
}

#stefan .team-member-role {
  height: 15%;
  font-size: calc(var(--w)/12);
}

#stefan .team-member-description {
  padding: 5% 5%;
  height: 20%;
}

/* LARISSA ////////////////////////////////////////////////////////// */

#larissa {
  background-color: hsl(260, 100%, 5%);
  color: hsl(0, 100%, 50%);
}

#larissa .team-member-pic {
  object-position: 0% 50%;
}

#larissa .team-member-description {
  padding: 7% 5%;
}

@media only screen and (orientation: landscape) {
  .ur {
    padding: 0% 10%;
  }
  /* FIXED-LAYER ////////////////////////// */
  #border-left, #border-right {
    top: 0;
    height: 100%;
    width: 15%;
    background-size: cover;
    position: fixed;
  }
  #border-left {
    left: 0;
  }
  #border-right {
    right: 0;
    background-position: 50% 50%;
  }

  /* HEADER DIVIDERS ----------------------- */
  .header-divider h2, .header-divider h3 {
    font-size: calc(var(--w)/10);
    text-shadow: 0px 0px calc(var(--w)/25) hsl(100, 100%, 70%);    
  }

  /* POSTER ------------------------------------- */
  #poster {
    padding: 2% 28%;
  }

  .arrow-container {
    width: 78%;
    bottom: 3%;
    font-size: calc(var(--w)/20);
    padding: 0% 20%;
  }

  /* HEADER ------------------------------------ */
  h1 {
    height: 42%;
    display: flex;
    align-items: center;
    font-size: calc(var(--w)/18);
  }

  #header ul {
    height: 45%;
    font-size: calc(var(--w)/35);
  }

  .back {
    font-size: calc(var(--w)/25);
  }

  .back i {
    top: 15%;
    left: 70%;
    font-size: calc(var(--w)/20);
  }

  /* PROJECT STATEMENT ////////////////////////////////////// */
  #project-statement .ur {
    padding: 5% 15%;
  }
  #project-statement p {
    font-size: calc(var(--w)/50);
  }
  #project-statement .arrow-container {
    width: 66%;
  }

  /* PROJECT TEAM -------------------------------------------- */
  #team-section-header {
    background-size: 70%;
    background-position: 50% 50%;
  }

  /* TEAM SECTION /////////////////////////////////////////// */
  #team-section-header h2 {
    font-size: calc(var(--w)/10)
  }

  /* TEAM MEMBER PROFILE ////////////////////////////////////// */
  .team-member-pic {
      width: 50%;
      height: 50%;
  }
  .team-member-name {

      width: 39%;
      height: 25%;

      position: absolute;
      top: 0%;
      left: 50%;

      font-size: calc(var(--w)/20);

      text-align: center;
  }

  .team-member-role {
      width: 40%;
      height: 25%;
      position: absolute;
      left: 50%;
      top: 25%;
      font-size: calc(var(--w)/20);
  }

  .team-member-description {
      height: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: calc(var(--w)/45);
  }

    /* STEFAN ------------------------------------------------ */
    #stefan .team-member-role {
      width: 40%;
      height: 25%;
      position: absolute;
      left: 50%;
      top: 25%;
      font-size: calc(var(--w)/30);
    }
  
  #stefan .team-member-description {
      height: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: calc(var(--w)/40);
  }
}